body {
    background-image: url(bg.jpg);
    background-size: cover;
}

div {
    width: 200px;
    height: 200px;
    background-color: red;
}
div p {
    text-align: center;
    line-height: 200px;
}
.dua {
    opacity: 50%;
}

.tiga {
    opacity: 40%;
    position: relative;
}
.tiga div {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -30px;
    right: -30px;
    background-color: blue;
}
.empat {
    position: relative;
}
.empat div {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -30px;
    right: -30px;
    opacity: 40%;
    background-color: blue;
}