div {
    width: 200px;
    height: 200px;
    background-color: aqua;
}

div p {
    text-align: center;
    line-height: 200px;
}

.dua {
    border-radius: 20px;
}

.tiga {
    border-radius: 50%;
}

.empat {
    border-radius: 50% 0 50% 0;
}

.lima {
    margin-top: 30px;
    border-radius: 0 0 50% 50%;
}