body {
    background-color: pink;
}
.satu {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
}
.satu div {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0, 50%);
    position: absolute;
    bottom: -50px;
    right: -50px;

}